<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Framepipe</vendor>
  <vendor_url>https://github.com/martian0x80/framepipe</vendor_url>
  <action id="dev.0x80.framepipe">
    <description>Access display and input devices for screen recording</description>
    <message>Authentication is required to access display and input devices for screen recording. It's safe. trust :)</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/framepipe/framepipe-privd</annotate>
  </action>
</policyconfig>
